// Option, Parametres et Reset

// Import minireset

@import "libs/reset.scss";

$green: #2b7971;
$light-pink: #fdd8f1;
$black: #270c25;
$white: #fcf5f5;
$border-radius: 20px;

* {
	font-family: Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
}

// Body

body {
	background-color: $white;
}

// Navbar

.navbar {
	position: fixed;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	background-color: $light-pink;
	height: 100px;
	z-index: 100;

	img.logo {
		border-radius: 100%;
		height: 70px;
		width: 70px;
	}

	a {
		color: $black;

		&:hover {
			color: $white;
		}

	}

	.nav-links {

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			li {
				margin: 0 30px;

				a.active {
					font-weight: 600;
				}
			}
		}
	}

	.menu-hamburger {
		display: none;
		position: fixed;
		right: 50px;
		width: 35px;
	}
}

.scroll-block {
	overflow-y: hidden;
}

// Header

header {
	display: flex;
	justify-content: space-between;
	padding-left: 10%;
	padding-top: 100px;
	background-color: $green;
	height: 450px;
	color: $white;

	div.left {
		padding-top: 70px;

		img.logo {
			border-radius: 100%;
			width: 100px;
			height: 100px;
			position: absolute;
			margin-top: -140px;
			display: none;
		}

		div.title {
			height: fit-content;
			width: fit-content;

			.head-name {
				font-size: 30px;
				font-weight: 500;
				width: fit-content;

				&::after {
					font-size: 20px;
					font-weight: 500;
					margin-left: 50px;
					content: "EI";
				}
			}

			.head-title {
				margin-top: 50px;
				font-size: 45px;
				font-weight: 700;
			}
		}

		.text {
			margin-top: 70px;
			font-size: 35px;
		}

		a.scroll {
			color: $white;
			margin-top: 30px;
			line-height: 20px;
			text-decoration: none;
			display: flex;
			align-items: center;
			position: absolute;
			width: 70px;
			justify-content: space-between;
			overflow: hidden;

			.scroll-text {
				position: relative;
				transition: transform 0.3s;

				&::before {
					content: attr(data-text);
					position: absolute;
					top: 100%;
				}

				&:hover {
					transform: translateY(-100%);
				}
			}

			.scroll-icon {
				font-size: 25px;
			}
		}
	}

	div.right {
		display: flex;
		align-items: center;
		height: 100%;
		padding-right: 10%;
		padding-left: 10%;

		.text {
			font-size: 50px;
		}
	}
}

// Sections

section.section-marge{
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 100px;
}

section {

	h1.section-title {
		position: relative;
		width: fit-content;
		font-size: 50px;

		&::before {
			content: "";
			position: absolute;
			background-color: $green;
			width: 50px;
			height: 7px;
			bottom: 0;
		}
	}

	.section-content {
		overflow: hidden;
		width: fit-content;
		position: relative;
		margin-top: 100px;
		margin-left: 70px;
	}

	p.section-text {
		width: fit-content;
		font-size: 20px;
	}
}

// 1 : Diapo

section.diapo {
	overflow: hidden;
	height: 430px;

	div.elements {
		display: flex;

		div.element {
			flex: 1 0 100%;
			position: relative;
			height: 430px;
			width: max-content;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		div.element#slide02 {
			background-position: bottom;
		}
	}
}

// 2 : Histoire

// 3 : Tarifs

section#prices {

	div.prices-container {
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100%;
		height: 430px;

		div.price-box {
			height: 400px;
			min-width: 250px;
			margin-right: 100px;
			border-radius: $border-radius;
			background-color: $light-pink;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			.price-image {
				width: 80%;
				border-radius: $border-radius;
			}

			.price-desc {
				font-size: 15px;
				margin-left: 10px;
				margin-right: 10px;
				text-align: center;
			}

			.price-cost {
				font-weight: bold;
				font-size: 20px;
				color: $green;
			}
		}
	}
}

// 4 : Contact

section#contact {

	div.contact-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 70px 150px;
		grid-template-areas: ". ." ". .";

		div.contact-box {
			display: flex;
			align-items: center;
			background-color: $light-pink;
			height: 70px;
			width: 500px;
			border-radius: $border-radius;

			.logo {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 50px;
				height: 50px;
				margin-right: 50px;
				margin-left: 10px;
			}
		}
	}
}



// Media Query

@media (max-width: 1430px) {

    // Section

    // 4 : Contact

	section#contact {

		div.contact-container {
			display: flex;
			flex-direction: column;
		}
	}
}

@media screen and (max-width: 1200px) {

    // Header
    
	header {
		height: 500px;
	}
}

@media screen and (max-width: 900px) {

    // Navbar

	.navbar {
		background-color: $light-pink;
		position: fixed;
		padding: 0;

		.menu-hamburger {
			display: block;
		}

		img.logo {
			margin-left: 30px;
			width: 70px;
			height: 70px;
		}

		.nav-links {
            backdrop-filter: blur(7px);
            top: 0;
            left: 0;
            position: absolute;
            background-color: #ffffff36;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s ease;

			ul {

                display: flex;
			    flex-direction: column;
			    align-items: center;

				li {
					margin: 20% 0;
					font-size: 1.2em;
				}
			}

            .mobile-menu {
                margin-left: 0;
            }
		}
	}

    // Header

	header {

		display: block;
		height: 600px;
		padding-top: 130px;

		div.left {
			padding-top: 0;

			img.logo {
				display: block;
			}

			a.scroll {
				display: none;
			}
		}

		div.right {
			display: block;
			padding-top: 50px;
			padding-left: 0px;
			height: fit-content;

			.text {
				font-size: 40px;
			}
		}
	}

    // Section

    section.section-marge {
        padding-top: 130px;
        padding-left: 100px;
        padding-right: 90px;
    }

	section {

		h1.section-title {
			font-size: 30px;

			&::before {
				width: 40px;
				height: 7px;
				bottom: -5px;
			}
		}

		.section-content {
			margin-top: 80px;
			margin-left: 50px;
		}

		p.section-text {
			margin-top: 70px;
			font-size: 15px;
		}
	}

    // 1 : Diapo

	section.diapo {
		overflow: hidden;
		height: 250px;

		div.elements {

			div.element {
				height: 250px;
			}
		}
	}

    // 3 : Tarifs

	section#prices{
		
		div.prices-container {
			height: 330px;
	
			div.price-box {
				height: 300px;
				min-width: 170px;
				margin-right: 50px;
	
				.price-image {
					width: 80%;
				}
	
				.price-desc {
					font-size: 12px;
				}
			}
		}
	}

    // 4 : Contact

	section#contact {

		div.contact-container {

			div.contact-box {
				width: 400px;
			}
		}
	}
}

@media screen and (max-width : 600px) {

    // Section

    // 4 : Contact

	section#contact {

		div.contact-container {

			div.contact-box {
				width: 300px;
				font-size: small;
			}
		}
	}
}
@media screen and (max-width: 500px) {

    // Header

	header {
		height: 500px;
		div.left {

			div.title {

				.head-name {
					font-size: 20px;

					&::after {
						font-size: 10px;
					}
				}

				.head-title {
					font-size: 35px;
				}
			}

			.text {
				font-size: 25px;
			}
		}

		div.right {
			padding-left: 0;

			.text {
				font-size: 20px;
			}
		}
	}

    // Section

	section.section-marge {
		padding-left: 30px;
	}

	section {
        
        .section-marge {
            padding-left: 30px;
        }

		h1.section-title {
			font-size: 30px;

			&::before {
				width: 40px;
				height: 7px;
				bottom: -5px;
			}
		}
        
		.section-content {
			margin-left: 20px;
		}
        
		p.section-text {
			font-size: 15px;
		}
	}

    // 4 : Contact

	section#contact {

		div.contact-container {

			div.contact-box {

				.logo {
					margin-right: 10px;
				}
			}
		}
	}
}