*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(img/acceuil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    height: 100vh;
    width: 100vw;
}

.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar img.logo{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.navbar a{
    color: black;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 30px;
}

.navbar .nav-links ul li.active a{
    color: goldenrod;
    font-weight: 600;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    right: 50px;
    width: 35px;
}

@media screen and (max-width: 900px){

    .navbar{
        padding: 0;
    }
    
    .navbar .menu-hamburger{
        display: block;
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: #ffffff31;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar img.logo{
        margin: 50px;
    }
}