@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
	scroll-behavior: smooth;
}

:target::before {
    content: " ";
    display: block;
    height: 250px;
    margin-top: -250px;
}

.navbar{
    position: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #ffc2d3;
    height: 200px;
    backdrop-filter: blur(2px);
}

.navbar img.logo{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.navbar a{
    color: black;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 30px;
}

.navbar .nav-links ul li a.active{
    font-weight: 600;
}

.navbar .menu-hamburger{
    display: none;
    position: fixed;
    top: 60px;
    right: 50px;
    width: 35px;
}

.scroll-block{
    overflow-y: hidden;
}

header{
    padding: 250px 200px;
    background: url("img/accueil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 300px;
}

header div.title{
    height: fit-content;
    width: fit-content;
}

header div.title .head-name{
    font-size: 30px;
    font-weight: 500;
    color: white;
    width: fit-content;
}

header div.title .head-name::after{
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    color: white;
    content: "EI";
}

header div.title .head-title{
    margin-top: 50px;
    font-size: 45px;
    font-weight: 700;
    color: white;
}

header .text{
    margin-top: 70px;
    font-family: Dancing Script;
    color: white;
    font-size: 35px;
}

@media screen and (max-width: 1325px){

    header div.title .head-name{
        color: black;
    }

    header div.title .head-name::after{
        color: black;
    }
    
    header div.title .head-title{
        color: black;
    }

    header .text{
        color: black;
    }

}

@media screen and (max-width: 900px){

    :target::before {
        content: " ";
        display: block;
        height: 50px;
        margin-top: -50px;
    }

    .navbar{
        padding: 0;
        background-color: #ffffff00;
        backdrop-filter: none;
    }
    
    .navbar .menu-hamburger{
        display: block;
        filter: brightness(2);
    }

    .nav-links{
        backdrop-filter: blur(7px);
        top: 0;
        left: 0;
        position: absolute;
        background-color: #ffffff31;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar img.logo{
        display: none;
    }

    .navbar .nav-links ul li{
        margin: 20% 0;
        font-size: 1.2em;
    }

    header{
        padding: 100px 50px;
        height: 150px;
        background-size: auto;
    }
    
    header div.title .head-name{
        font-size: 25px;
        font-weight: 650;
    }
    
    header div.title .head-name::after{
        font-size: 15px;
        margin-left: 30px;
    }
    
    header div.title .head-title{
        margin-top: 30px;
        font-size: 35px;
        font-weight: 600;
    }

    header .text{
        margin-top: 40px;
    }
}

@media screen and (max-width: 400px){

    header div.title .head-name{
        font-weight: 400;
    }
    
    header div.title .head-name::after{
        margin-left: 20px;
    }
    
    header div.title .head-title{
        margin-top: 40px;
        font-size: 30px;
        font-weight: 550;
        letter-spacing: -2px;
    }

}