/* Option, Parametres et Reset */

:root{
    --light-green: #c3ffeb;
    --light-pink: #fdd8f1;
    --black: #270c25;
    --white: #fcf5f5;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
	scroll-behavior: smooth;
}

:target::before {
    content: " ";
    display: block;
    height: 250px;
    margin-top: -250px;
}

/* Body */

body{
    background-color: var(--white);
}

/* Navbar */

.navbar{
    position: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--light-pink);
    height: 200px;
    backdrop-filter: blur(2px);
    z-index: 100;
}

.navbar img.logo{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.navbar a{
    color: var(--black);
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 30px;
}

.navbar .nav-links ul li a.active{
    font-weight: 600;
}

.navbar .menu-hamburger{
    display: none;
    position: fixed;
    top: 60px;
    right: 50px;
    width: 35px;
}

.scroll-block{
    overflow-y: hidden;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-left: 10%;
    background-color: var(--light-green);
    height: 400px;
    color: var(--black);
}

header div.left{
    padding-top: 70px;
}

header div.left img.logo{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: -140px;
    display: none;
}

header div.left div.title{
    height: fit-content;
    width: fit-content;
}

header div.left div.title .head-name{
    font-size: 30px;
    font-weight: 500;
    width: fit-content;
}

header div.left div.title .head-name::after{
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    content: "EI";
}

header div.left div.title .head-title{
    margin-top: 50px;
    font-size: 45px;
    font-weight: 700;
}

header div.left .text{
    margin-top: 70px;
    font-size: 35px;
}

header div.right{
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20%;
}

header div.right .text{
    font-size: 50px;
}

/* Sections */

/* 1 : Diapo */

section.diapo{
    overflow: hidden;
    height: 300px;
}

section.diapo div.elements{
    display: flex;
}

section.diapo div.elements div.element{
    flex: 1 0 100%;
    position: relative;
    height: 300px;
    width: max-content;
}

section.diapo div.elements div#slide01{
    background-image: url("img/slide01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.diapo div.elements div#slide02{
    background-image: url("img/slide02.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

section.diapo div.elements div#slide03{
    background-image: url("img/slide03.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 2 : Histoire */

/* Media Query */

@media screen and (max-width: 450px){
    header div.left div.title .head-name{
        font-size: 20px;
    }
    
    header div.left div.title .head-name::after{
        font-size: 10px;
    }
    
    header div.left div.title .head-title{
        font-size: 35px;
    }

    header div.left .text{
        font-size: 25px;
    }
}

@media screen and (max-width: 900px){
    :target::before {
        content: " ";
        display: block;
        height: 50px;
        margin-top: -50px;
    }

    .navbar{
        padding: 0;
        background-color: #ffffff00;
        backdrop-filter: none;
    }
    
    .navbar .menu-hamburger{
        display: block;
        filter: brightness(2);
    }

    .nav-links{
        backdrop-filter: blur(7px);
        top: 0;
        left: 0;
        position: absolute;
        background-color: #ffffff31;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar img.logo{
        display: none;
    }

    .navbar .nav-links ul li{
        margin: 20% 0;
        font-size: 1.2em;
    }

    header{
        display: block;
        height: 500px;
        padding-top: 170px;
    }

    header div.left{
        padding-top: 0;
    }

    header div.left img.logo{
        display: block;
    }

    header div.right{
        display: block;
        padding-top: 50px;
    }

    header div.right .text{
        font-size: 40px;
    }

    section.diapo{
        overflow: hidden;
        height: 300px;
    }

    section.diapo div.elements div.element{
        height: 300px;
    }

    section.diapo div.elements div#slide01{
        background-position: right;
    }
}